:root {
	/*Main theme of the project*/
	--main-theme1: #06908f;
	--main-theme2: #172121;
	--main-theme-text: #ffffff;

	/*Resource table pallete*/
	--status-undone: #d1495b;
	--status-done: #84e296;

	/*Navbar pallete*/
	--navbar-butto-text: #87d08a;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: var(--main-theme2);
	color: var(--main-theme-text);
}

nav {
	background-color: var(--main-theme1);
	padding: 1.5em;
	text-align: left;
	/* position:fixed; */
	/* width: 100%; */
	color: var(--main-theme-text);
	/* z-index: 9999; */
}

.landing-image {
	height: 200px;
	width: 300px;
	margin: 2em;
}

#landing,
#about,
#contact {
	padding: 0em 2em 0em 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.landing-part1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.head-title {
	font-size: 2.5rem;
	/* font-size: 5vw; */
	text-align: center;
	padding: 1em 0em;
}

.desc {
	font-size: 1.5rem;
	text-align: center;
	padding: 1em 0rem;
}
a {
	text-decoration: none;
	color: var(--main-theme-text);
	padding: 1rem;
}
.find-button {
	align-items: center;
	font-size: 6vw;
	padding-top: 0.5rem;
	background-color: var(--main-theme1);
	height: 2em;
	width: 7em;
	border-radius: 50em;
	color: var(--main-theme-text);
}

.cards {
	display: flex;
	flex-direction: column;
}

.about {
	display: flex;
	flex-direction: column;
}

.about-cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-image {
	height: 250px;
	width: 250px;
	border-radius: 50%;
}

.about-title,
.contact-title {
	font-size: 2rem;
	text-align: center;
	margin: 2rem 0rem;
}

.about-text {
	margin: 1rem 0rem;
	font-size: 1.5em;
}

#contact-form {
	display: flex;
	flex-direction: column;
}

.form-entry {
	margin: 0.5rem 0rem;
	padding: 1rem;
	font-size: 0.8rem;
}

.name-lastname {
	display: flex;
	flex-direction: column;
}

#message {
	padding: 3rem;
}

#submit-button {
	background-color: var(--main-theme1);
	color: var(--main-theme-text);
	font-size: 1.4rem;
	border-radius: 50em;
}

#contact-us-image {
	height: 250px;
	width: 300px;
}

.contact-form-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.footer-title {
	font-size: 1.5rem;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem;
}

.res {
	color: var(--main-theme1);
}

.footer-links {
	line-height: 1rem;
	color: var(--main-theme1);
	font-size: 5vw;
}

.copyright {
	line-height: 2rem;
}

.socials {
	margin: 1rem 1rem 1rem 0rem;
}

.fab {
	margin-right: 1rem;
}

.section-1,
.section-2,
.section-3 {
	display: flex;
	flex-direction: column;
	margin-right: 3rem;
}

.contents {
	display: flex;
	flex-direction: column;
}

.copyright {
	font-size: 3vw;
}

@media (min-width: 900px) {
	nav {
		font-size: 1.2vw;
	}
	#landing {
		display: flex;
		flex-direction: row;
	}
	.cards {
		display: flex;
		flex-direction: row;
		padding: 7vw 0vw 10vw 0vw;
	}
	.about-title,
	.contact-title,
	.footer-title {
		margin-top: 5vw;
		font-size: 3vw;
	}
	.about-cards {
		margin-right: 8vw;
	}
	.about-image {
		width: 15vw;
		height: 15vw;
	}
	.about-text {
		font-size: 2vw;
	}
	#last-card {
		margin: 0;
	}
	.landing-part1 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.landing-image {
		height: 35vw;
		width: 45vw;
	}

	form {
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	#contact-us-image {
		height: 45vw;
		width: 45vw;
		margin-right: 3vw;
		padding: 6vw 6vw 6vw 0vw;
	}

	.contact-form-container {
		display: flex;
		flex-direction: row;
	}

	.contact-form {
		display: flex;
		flex-direction: column;
	}

	.form-entry {
		width: 40vw;
		margin-bottom: 3vw;
	}
	.name-lastname {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 40vw;
	}
	#name-field {
		margin-right: 2vw;
		width: 40vw;
	}

	.head-title {
		font-size: 4.5vw;
		text-align: left;
		padding: 1em 2.5rem;
	}

	.desc {
		font-size: 2.5vw;
		text-align: left;
		padding: 1em 2.5rem;
	}
	.find-button {
		align-items: center;
		font-size: 2.33vw;
		padding-top: 0.5rem;
		background-color: var(--main-theme1);
		height: 2em;
		width: 7em;
		border-radius: 50em;
		color: var(--main-theme-text);
	}

	.contents {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-evenly;
	}

	.copyright {
		font-size: 1.5vw;
	}

	.footer-links {
		line-height: 1rem;
		color: var(--main-theme1);
		font-size: 1.5vw;
	}
}
